.py-1 {
    padding: 1rem;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.dash {
    color: $main-color;
}

.button {
        font-size: 1.2rem;
        border: 1px solid $main-color;
        border-radius: 5px;
        padding: 0.5rem;
        color: $main-color;
        display: block;
        background: none;

        &:hover {
            background: rgba($color: $main-color, $alpha: 0.3);
            color: white;
            transition: all 0.2s ease-in;
        }
    }

.nav--hidden {
    transform: translateY(-100px);
    transition: transform 500ms ease-in-out;
}

.fa-brands {
    color: white;
}
