@import 'variables';
@import 'utilities';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chivo Mono', sans-serif;
    background: $gradient2;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {

    &-nav {
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        justify-content: space-between;
        padding: 1rem 5rem;
        color: #fff;
        transition: all 500ms ease-in-out;

        .hamburger {
            display: none;
            cursor: pointer;
        }
        
        .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                transition: all 0.3s ease-in-out;
                background-color: #fff;
        }
        
        h1 {
            font-size: 2rem;
            border: 1px solid $main-color;
            border-radius: 50%;
            padding: 5px;
        }
        
        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            list-style: none;
            
            li {
                padding: 0 1rem;
                font-size: 1rem;

                &:hover {
                    color: $main-color;
                    transition: color 500ms ease-in;
                }
            }
        }
    }

    &-home {
        background: linear-gradient($gradient1, $gradient2);
        height: 100vh;
    }
        
    
    &-items {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: right;
        margin: 0 auto;
        padding-top: 300px;
        
        img {
            max-width: 300px;
            border-radius: 50%;
        }

    }
    
    &-info {

        h1 {
            display: inline-block;
            box-shadow: 2px 2px 2px $main-color;
            font-size: 3rem;
        }

        p {
            color: #fff;
            max-width: 600px;
        }
    }

    &-line {
        height: 5px;
        max-width: 300px;
        width: 100%;
        border-bottom: 1px dotted $main-color;
    }
}

// About Section 

#about {
    &-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        grid-gap: 1rem;
        padding: 0.5rem;
    }

    &-info {
        text-align: left;
        box-shadow: 2px 2px 2px $light-color;
        grid-column: 1 / span 2;

        h1 {
            border-bottom: 1px dotted $main-color;
        }

        p {
            padding-top: 5px;
            color: #fff;
        }

        .about-link {
            color: $light-color;
            position: relative;


            &::after {
                content: '';
                width: 0%;
                height: 2px;
                background-color: $light-color;
                position: absolute;
                bottom: 0%;
                left: 50%;
                border-radius: 10px;
                transition: all 500ms ease;
            }

            &:hover::after {
                left: 0%;
                width: 100%;
            }
        }
    }

    
}

// Skills Section 

#skills {
    &-main {
        box-shadow: 2px 2px 2px $light-color;
        padding: 0.5rem;
        margin: 10rem auto;

        h1 {
            border-bottom: dotted $main-color 1px;
        }
    }

    &-layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &-info {
        text-align: left;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        grid-gap: 1rem;

        h1 {
            border-bottom: 1px dotted $main-color;
        }

        p {
            padding-top: 5px;
            color: #fff;
        }

        h4 {
            border-bottom: 1px solid black;
        }
    }

    &-list {
        display: flex;
        gap: 2rem;
        color: $light-color;
        padding: 1rem 0 0 1rem;

        ul {
            list-style: square;
            text-align: left;

            li {
                padding-top: 3px;
                color: #fff;
            }
        }
    }

    &-images {
        text-align: center;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        align-items: center;

        img {
            max-width: 150px;
            max-height: 150px;
            padding: 1rem;
        }
    }
}

// Projects Section 

#projects {
    &-main {
        box-shadow: 2px 2px 2px $light-color;
        padding: 0.5rem;
        margin: 10rem auto;

        h1 {
            border-bottom: 1px dotted $main-color;
            grid-column: 1 / span 2;
        }
    }

    &-info {
        text-align: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 1rem;


        p {
            padding-top: 5px;
            color: #fff;
        }

        h2 {
            font-size: 1rem;
            padding-top: 1rem;
        }
    }

    &-images {
        text-align: center;

        img {
            max-width: 300px;
            max-height: 300px;
            padding: 5px;
            border: 1px solid #fff;

            &:hover {
                scale: 1.1;
                transition: all 500ms ease;
            }
        }
    }
}

// Contact Section 

#contact {
    &-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-gap: 1rem;
        margin: 10rem auto 0 auto;

    }

    &-info {
        text-align: center;

        p {
            padding-top: 5px;
            color: $light-color;
        }
    }

    &-icons {
        .fa-github:hover {
            color: #c9510c;
        }
        .fa-linkedin:hover {
            color: #0072b1;
        }
    }

    &-form {
        .text-fields {
            display: grid;
            grid-template-areas: 
            'name email'
            'subject phone'
            'message message';
            grid-gap: 1rem;

            .name-input {
                grid-area: name;
            }
            .email-input {
                grid-area: email;
            }
            .subject-input {
                grid-area: subject;
            }
            .phone-input {
                grid-area: phone;
            }
            .message-input {
                grid-area: message;
                max-height: 100px;
                max-width: 900px;
            }
            input:focus {
               outline-color: $main-color;
            }

            .text-input {
                padding: 0.5rem 1rem;
            }
        }

    }

    &-button {

        button {
            display: inline-block;
            margin: 1rem 0;
            width: 50%;
        }
    }

    &-me {
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
    }
}

// Media Queries
@import 'media';
